[submodule "curl/src/main/native/curl"]
	path = curl/src/main/native/curl
	url = https://github.com/curl/curl.git
[submodule "curl/src/main/native/nghttp2"]
	path = curl/src/main/native/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "curl/src/main/native/ngtcp2"]
	path = curl/src/main/native/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "curl/src/main/native/nghttp3"]
	path = curl/src/main/native/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
